[submodule "third-party/spdlog"]
	path = third-party/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "third-party/json"]
	path = third-party/json
	url = https://github.com/nlohmann/json
[submodule "third-party/variant"]
	path = third-party/variant
	url = https://github.com/mpark/variant.git
[submodule "third-party/breakpad"]
	path = third-party/breakpad
	url = https://chromium.googlesource.com/breakpad/breakpad
